{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='disciplinas.css') }}" >
{% endblock %}

{% block content %}
<div class="container mt-4 userContainer">
  <h1 class="display-3">Gestion de pagos</h1>
  <div class="row">
    <div class="col">
      <button class="btn btn-dark btn-padding mt-2" data-bs-toggle="modal" data-bs-target="#cargarSocioModal" type="button">Cargar un nuevo socio</button>
    </div>
  </div>

  <hr>

  <h2 class="h3">Busqueda</h2>
  <form id="formBusqueda" name="formularioBusqueda" role="form" method="GET">
    <div class="row mb-4">
      <div class="col-lg-3 d-flex">
        <input type="text" id="page" class="form-control rounded text-black" name="page" hidden value="1" />
        {{ search_form.input_search(class="form-control rounded text-black", placeholder="Apellido/Nro de socio...") }}
      </div>

      <div class="col-lg-1">
        <button type="submit" id="btnBusqueda" class="btn btn-outline-dark">Buscar</button>
      </div>
    </div>
  </form>

  <div class="mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="h3">Listado de cuotas</h1>
      </div>
    </div>
    <div id="cardsContainer" class="row mb-5">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 cardFlex mt-3">
          <div class="card" style="width: 18rem; height: 22rem">
            <div class="card-header">
                <span class="badge rounded-pill text-bg-success text-end">Pagado</span>
            </div>
            <div class="card-body">
              <h1 class="card-title fw-bold fs-1">#01</h1>
              <div><b>Disciplina:</b> Futbol</div>
              <div><b>Categoria:</b> Viejistos 2022</div>
              <div><b>Socio:</b> Manaos Light</div>

              <h5 class="card-title fw-bold fs-1 d-flex justify-content-end mt-4 mb-4">$2500</h5>
              <a href="#" class="btn btn-outline-dark">Registrar pago</a>
            </div>
          </div>
        </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 cardFlex mt-3">
          <div class="card" style="width: 18rem; height: 22rem">
            <div class="card-header">
                <span class="badge rounded-pill text-bg-success text-end">Pagado</span>
            </div>
            <div class="card-body">
              <h1 class="card-title fw-bold fs-1">#01</h1>
              <div><b>Disciplina:</b> Futbol</div>
              <div><b>Categoria:</b> Viejistos 2022</div>
              <div><b>Socio:</b> Manaos Light</div>

              <h5 class="card-title fw-bold fs-1 d-flex justify-content-end mt-4 mb-4">$2500</h5>
              <a href="#" class="btn btn-outline-dark">Registrar pago</a>
            </div>
          </div>
        </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 cardFlex mt-3">
          <div class="card" style="width: 18rem; height: 22rem">
            <div class="card-header">
                <span class="badge rounded-pill text-bg-success text-end">Pagado</span>
            </div>
            <div class="card-body">
              <h1 class="card-title fw-bold fs-1">#01</h1>
              <div><b>Disciplina:</b> Futbol</div>
              <div><b>Categoria:</b> Viejistos 2022</div>
              <div><b>Socio:</b> Manaos Light</div>

              <h5 class="card-title fw-bold fs-1 d-flex justify-content-end mt-4 mb-4">$2500</h5>
              <a href="#" class="btn btn-outline-dark">Registrar pago</a>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>
{% endblock %}