{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='disciplinas.css') }}" >
{% endblock %}

{% block content %}
<div class="container mt-4 userContainer">
  <h1 class="display-3">Gestion de pagos</h1>

  <hr>

  <h2 class="h3">Busqueda</h2>
  <form id="formBusqueda" name="formularioBusqueda" role="form" method="GET">
    <div class="row mb-4">
      <div class="col-lg-3 d-flex">
        <input type="text" id="page" class="form-control rounded text-black" name="page" hidden value="1" />
        {{ search_form.input_search(class="form-control rounded text-black", placeholder="Apellido/Nro de socio...") }}
      </div>

      <div class="col-lg-1">
        <button type="submit" id="btnBusqueda" class="btn btn-outline-dark">Buscar</button>
      </div>
    </div>
  </form>

  <div class="mt-5">
    <div class="row">
      <div class="col-12">
        <h1 class="h3">Listado de cuotas</h1>
      </div>
    </div>
    <div id="cardsContainer" class="row mb-5">
      {% for fee in pagination.items %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 cardFlex mt-3">
          <div class="card" style="width: 19rem; height: 24rem">
            <div class="card-header d-flex justify-content-between">
              <div class="fw-semibold fs-5">{{fee.year}}</div>
              <div>
                {% if fee.was_paid == True %}
                  <span class="badge rounded-pill text-bg-success text-end">Pagado</span>
                {% else %}
                  <span class="badge rounded-pill text-bg-danger text-end">No pagado</span>
                {% endif %}
              </div>
            </div>
            <div class="card-body">
              <h1 class="card-title fw-bold fs-3">{{fee.first_name}} {{fee.last_name}}</h1>
              <h2 class="card-title fw-normal fs-5">{{fee.doc_num}}</h2>

              <div><b>Cuota:</b> #{{ fee.month }}</div>
              <div><b>Disciplinas:</b> - </div>

              <h5 class="card-title fw-bold fs-1 d-flex justify-content-end mt-4 mb-4">${{fee.total}}</h5>
              <a href="#" class="btn btn-sm btn-success">Registrar pago</a>
              <a href="#" class="btn btn-sm btn-outline-dark mt-2">Descargar comprobante</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}