{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}" >
{% endblock %}

{% block content %}
<div class="container mt-4 userContainer">
  <h1 class="display-3">Gestion de asociados</h1>
  <div class="row">
    <div class="col">
      <a class="btn btn-dark btn-padding mt-2" href="{{ url_for('users.user_index') }}" role="button">Cargar un nuevo socio</a>
    </div>
  </div>
  <hr>

  <h2 class="h3">Busqueda</h2>
  <form id="formBusquedda" name="formularioBusqueda" role="form">
    <div class="row mb-4">
      <div class="col-lg-3 d-flex">
        <input type="text" id="apellidoBusqueda" class="form-control rounded text-black" placeholder="Ingrese un apellido . . ." />
      </div>

      <div class="col-lg-2 text-start">
        <select id="criterioBusqueda" class="form-select">
          <option value="0" selected>Todos</option>
          <option value="1">Activo</option>
          <option value="2">Bloqueado</option>
        </select>
      </div>

      <div class="col-lg-1">
        <button type="submit" id="btnBusqueda" class="btn btn-outline-dark">Buscar</button>
      </div>
    </div>
  </form>

  <div class="mt-5">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="h3">Listado de asociados</h1>
      </div>

      <div class="col-12">
        <button type="submit" id="btnCsv" class="btn btn-sm btn-outline-secondary">Exportar CSV</button>
        <button type="submit" id="btnPdf" class="btn btn-sm btn-outline-secondary ms-2">Exportar PDF</button>
      </div>

    </div>

    <div class="table-responsive-lg">
      <table class="table table-bordered align-middle">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre completo</th>
          <th scope="col">Documento</th>
          <th scope="col">Nro de socio</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha de alta</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> 1 </th>
            <td>Manaos Light</td>
            <td>935115115</td>
            <td>115</td>
            <td>Bloqueado</td>
            <td>02/10/22</td>
            <td class="text-center">
              <button type="button" class="btn btn-secondary btn-sm">Editar</button>
              <button type="button" class="btn btn-danger btn-sm mt-2 mt-lg-0">Eliminar</button>
            </td>
          </tr>
          <tr>
            <th scope="row"> 2 </th>
            <td>Manaos Life</td>
            <td>935115115</td>
            <td>116</td>
            <td>Actvo</td>
            <td>02/10/22</td>
            <td class="text-center">
              <button type="button" class="btn btn-secondary btn-sm">Editar</button>
              <button type="button" class="btn btn-danger btn-sm mt-2 mt-lg-0">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
{% endblock %}