{% extends "layout.html" %}
{% block title %}Disciplinas{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}" >
{% endblock %}

{% block content %}
<div class="container mt-4 disciplinaContainer">
  <h1 class="display-3">Gestion de disciplinas</h1>
  <div class="row">
    <div class="col">
      <button class="btn btn-dark btn-padding mt-2" data-bs-toggle="modal" data-bs-target="#cargarDisciplinaModal" type="button">Cargar una nueva disciplina</button>
    </div>
  </div>

  <div class="modal fade" id="cargarDisciplinaModal" tabindex="-1" aria-labelledby="cargarDisciplinaModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="cargarDisciplinaLabel">Nueva Disciplina</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form class="row g-3">

            <div class="col-md-6">
              <label for="inputNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="inputNombre">
            </div>

            <div class="col-md-6">
              <label for="inputCategoria" class="form-label">Categoría</label>
              <input type="text" class="form-control" id="inputCategoria">
            </div>

            <div class="col-md-5">
              <label for="inputInstructor" class="form-label">Instructor</label>
              <input type="text" class="form-control" id="inputInstructor">
            </div>

              <div class="col-md-7">
              <label for="inputDiasHorarios" class="form-label">Días y Horarios</label>
              <input type="text" class="form-control" id="inputDiasHorarios">
            </div>

            <div class="col-md-12">
              <label for="inputCosto" class="form-label">Costo mensual</label>
              <input type="text" class="form-control" id="inputCosto">
            </div>

            <div class="col-md-12">
              <label for="inputHabilitada" class="form-label">Habilitada</label>
              <select id="inputHabilitada" class="form-select">
                <option selected>...</option>
                <option value="1">SI</option>
                <option value="2">NO</option>
              </select>
            </div>  
          </form>  
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h2 class="h3">Busqueda</h2>
  <form id="formBusquedda" name="formularioBusqueda" role="form">
    <div class="row mb-4">
      <div class="col-lg-3 d-flex">
        <input type="text" id="apellidoBusqueda" class="form-control rounded text-black" placeholder="Ingrese una disciplina . . ." />
      </div>

      <div class="col-lg-2 text-start">
        <select id="criterioBusqueda" class="form-select">
          <option value="0" selected>Todos</option>
          <option value="1">Habilitada</option>
          <option value="2">Inhabilitada</option>
        </select>
      </div>

      <div class="col-lg-1">
        <button type="submit" id="btnBusqueda" class="btn btn-outline-dark">Buscar</button>
      </div>
    </div>
  </form>

  <div class="mt-5">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="h3">Listado de Disciplinas</h1>
      </div>

      <div class="col-12">
        <button type="submit" id="btnCsv" class="btn btn-sm btn-outline-secondary">Exportar CSV</button>
        <button type="submit" id="btnPdf" class="btn btn-sm btn-outline-secondary ms-2">Exportar PDF</button>
      </div>
    </div>

    <div class="table-responsive-lg">
      <table class="table table-bordered align-middle">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Categoría</th>
          <th scope="col">Instructores</th>
          <th scope="col">Días y Horarios</th>
          <th scope="col">Costo Mensual</th>
          <th scope="col">Habilitada</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> 1 </th>
            <td>Fútbol</td>
            <td>2010</td>
            <td>Juan Perez, Nicolas Rodriguez</td>
            <td>Lunes y Miercoles - 17:00-19:00</td>
            <td>$3000</td>
            <td>SI</td>
            <td class="text-center">
              <button type="button" class="btn btn-secondary btn-sm">Editar</button>
              <button type="button" class="btn btn-danger btn-sm mt-2 mt-lg-0">Eliminar</button>
            </td>
          </tr>
          <tr>
            <th scope="row"> 1 </th>
            <td>Fútbol</td>
            <td>2010</td>
            <td>Juan Perez, Nicolas Rodriguez</td>
            <td>Lunes y Miercoles - 17:00-19:00</td>
            <td>$3000</td>
            <td>SI</td>
            <td class="text-center">
              <button type="button" class="btn btn-secondary btn-sm">Editar</button>
              <button type="button" class="btn btn-danger btn-sm mt-2 mt-lg-0">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}