{% extends "layout.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container mt-3">
    <h1 class="display-3">Bienvenido Manaos</h1>
    <hr>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
        <div class="col">
            <div class="card" style="width: 18rem; height: 15em">
                <div class="card-body">
                    <h5 class="card-title">Gestion de usuarios</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem; height: 15em">
                <div class="card-body">
                    <h5 class="card-title">Gestion de asociados</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem; height: 15em">
                <div class="card-body">
                    <h5 class="card-title">Gestion de disciplinas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem; height: 15em">
                <div class="card-body">
                    <h5 class="card-title">Gestion de pagos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem; height: 15em">
                <div class="card-body">
                    <h5 class="card-title">Configuracion del sistema</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}