{% extends "layout.html" %}
{% block title %}Configuracion{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='config.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-4 configContainer">
    <h1 class="display-3">Modulo de configuracion</h1>
    <hr>

    <h2 class="my-3">Configuracion del sistema</h2>
    <form class="formStyle" method="POST" action="{{ url_for('config.config_edit') }}">
        {{ form.csrf_token }}
        <div class="form-group mb-3 reducedSize">
            {{ form.elements_quantity.label(class="mb-2") }}
            {{ form.elements_quantity(class="form-control", value=config.elements_quantity) }}
            <small id="ayudaElementos" class="form-text text-muted">Todos los listados deberán toman este valor para el paginado</small>
        </div>

        <div class="form-group mb-3 reducedSize">
            {{ form.monthly_fee.label(class="mb-2") }}
            {{ form.monthly_fee(class="form-control", value=config.monthly_fee) }}
        </div>

        <div class="form-group mb-3 reducedSize">
            {{ form.extra_charge.label(class="mb-2") }}
            {{ form.extra_charge(class="form-control", value=config.extra_charge) }}
        </div>

        <div class="form-group mb-3">
            {{ form.payment_header.label(class="mb-2") }}
            {{ form.payment_header(class="form-control", value=config.payment_header ) }}
            <small id="ayudaEncabezado" class="form-text text-muted">Texto para mostrar en el encabezado del <strong>recibo de pago</strong></small>
        </div>

        <div class="form-group mb-3">
            <label class="mb-2" for="contact_information">Informacion de contacto</label>
            <textarea aria-required="true" required name="contact_information" class="form-control"
                      id="contact_information" rows="3" maxlength="200">{{ config.contact_information }}</textarea>
        </div>

        <div class="form-group mb-3">
          {{ form.payment_enabled.label(class="mb-2") }}
          {{ form.payment_enabled(class="form-select") }}
          <small id="ayudaSelectTabla" class="form-text text-muted">En la vista publica</small>
        </div>

<!--        <button type="submit" class="btn btn-dark btn-padding my-5">Guardar cambios</button>-->
        {{ form.submit(class="btn btn-dark btn-padding my-4") }}
    </form>
</div>
{% endblock %}