{% extends "layout.html" %}
{% block title %}Configuracion{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='config.css') }}">
{% endblock %}

{% block content %}
<div class="container mt-4 configContainer">
    <h1 class="display-3">Modulo de configuracion</h1>
    <hr>

    <h2 class="my-3">Configuracion del sistema</h2>
    <form class="formStyle">
        <div class="form-group mb-3 reducedSize">
            {{ form.elements_quantity.label(class="mb-2") }}
            {{ form.elements_quantity(class="form-control") }}
            <small id="ayudaElementos" class="form-text text-muted">Todos los listados deberán toman este valor para el paginado</small>
        </div>

        <div class="form-group mb-3 reducedSize">
            {{ form.monthly_fee.label(class="mb-2") }}
            {{ form.monthly_fee(class="form-control") }}
        </div>

        <div class="form-group mb-3 reducedSize">
            <label class="mb-2" for="valorRecargo">Porcentaje de recargo</label>
            <input aria-required="true" required name="valorRecargo" type="text" class="form-control" id="valorRecargo" aria-describedby="Valor de recargo">
            {{ form.extra_charge.label(class="mb-2") }}
            {{ form.extra_charge(class="form-control") }}
        </div>

        <div class="form-group mb-3">
            {{ form.payment_header.label(class="mb-2") }}
            {{ form.payment_header(class="form-control") }}
            <small id="ayudaEncabezado" class="form-text text-muted">Texto para mostrar en el encabezado del <strong>recibo de pago</strong></small>
        </div>

        <div class="form-group mb-3">
            {{ form.contact_information.label(class="mb-2") }}
            {{ form.contact_information(class="form-control", rows="3") }}
        </div>

        <div class="form-check form-switch mt-5">
            {{ form.payment_enabled(class="form-check-input", role="switch") }}
            {{ form.payment_enabled.label(class="form-check-label") }} <br/>
            <small id="ayudaSwitchTabla" class="form-text text-muted">En la vista publica</small>
        </div>


        <button type="submit" class="btn btn-dark btn-padding my-5">Guardar cambios</button>
    </form>
</div>
{% endblock %}