{% extends "layout.html" %}
{% block title %}Disciplinas{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='disciplinas.css') }}" >
{% endblock %}

{% block content %}
<div class="container mt-4 userContainer mb-5">
  <h1 class="display-3">Gestion de disciplinas</h1>
  <div class="row">
    <div class="col">
      <button class="btn btn-dark btn-padding mt-2" data-bs-toggle="modal" data-bs-target="#cargarDisciplinaModal" type="button">Cargar una nueva disciplina</button>
    </div>
  </div>

  <div class="modal fade" id="cargarDisciplinaModal" tabindex="-1" aria-labelledby="cargarDisciplinaModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="cargarDisciplinaLabel">Nueva Disciplina</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form class="row g-3">

            <div class="col-md-6">
              <label for="inputNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="inputNombre">
            </div>

            <div class="col-md-6">
              <label for="inputCategoria" class="form-label">Categoría</label>
              <input type="text" class="form-control" id="inputCategoria">
            </div>

            <div class="col-md-5">
              <label for="inputInstructor" class="form-label">Instructor</label>
              <input type="text" class="form-control" id="inputInstructor">
            </div>

              <div class="col-md-7">
              <label for="inputDiasHorarios" class="form-label">Días y Horarios</label>
              <input type="text" class="form-control" id="inputDiasHorarios">
            </div>

            <div class="col-md-12">
              <label for="inputCosto" class="form-label">Costo mensual</label>
              <input type="text" class="form-control" id="inputCosto">
            </div>

            <div class="col-md-12">
              <label for="inputHabilitada" class="form-label">Habilitada</label>
              <select id="inputHabilitada" class="form-select">
                <option selected>...</option>
                <option value="1">SI</option>
                <option value="2">NO</option>
              </select>
            </div>  
          </form>  
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h2 class="h3">Busqueda</h2>
  <form id="formBusquedda" name="formularioBusqueda" role="form">
    <div class="row mb-4">
      <div class="col-lg-3 d-flex">
        <input type="text" id="apellidoBusqueda" class="form-control rounded text-black" placeholder="Ingrese una disciplina . . ." />
      </div>

      <div class="col-lg-2 text-start">
        <select id="criterioBusqueda" class="form-select">
          <option value="0" selected>Todos</option>
          <option value="1">Habilitada</option>
          <option value="2">Inhabilitada</option>
        </select>
      </div>

      <div class="col-lg-1">
        <button type="submit" id="btnBusqueda" class="btn btn-outline-dark">Buscar</button>
      </div>
    </div>
  </form>

  <div class="mt-5">
    <div class="row mb-2">
      <div class="col-12">
        <h1 class="h3">Disciplinas</h1>
      </div>
    </div>

    <div id="cardsContainer" class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 cardFlex">
        <div class="card" style="width: 18rem; height: 24rem">
          <div class="card-header"> <span class="badge rounded-pill text-bg-success text-end">Habilitado</span> </div>
          <div class="card-body">
            <h5 class="card-title">Fuboool</h5>
            <h6 class="card-subtitle mb-2 text-muted">Categoria 2010</h6>

            <b>Instructores:</b>
            <ul>
              <li>Manaos Light, Pepe Sapo, JijoDeBu</li>
            </ul>

            <b>Dias y horarios:</b>
            <ul>
              <li>Lunes y Miercoles 17:00 - 19:00</li>
            </ul>

            <div>
              <b>Costo mensual:</b> $3000
            </div>
          </div>

          <div class="card-footer bg-transparent">
            <div>
              <button type="button" class="btn btn-sm btn-outline-primary">Editar</button>
              <button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 cardFlex">
        <div class="card" style="width: 18rem; height: 24rem">
          <div class="card-header"> <span class="badge rounded-pill text-bg-danger text-end">Deshabilitado</span> </div>
          <div class="card-body">
            <h5 class="card-title">Fuboool</h5>
            <h6 class="card-subtitle mb-2 text-muted">Categoria 2010</h6>

            <b>Instructores:</b>
            <ul>
              <li>Manaos Light, Pepe Sapo</li>
            </ul>

            <b>Dias y horarios:</b>
            <ul>
              <li>Lunes y Miercoles 17:00 - 19:00</li>
            </ul>

            <div>
              <b>Costo mensual:</b> $3000
            </div>
          </div>

            <div class="card-footer bg-transparent">
              <div>
                <button type="button" class="btn btn-sm btn-outline-primary">Editar</button>
                <button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}