{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}" >
{% endblock %}

{% block content %}
<div class="container mt-4 userContainer">
  <h1 class="display-3">Gestion de asociados</h1>
  <div class="row">
    <div class="col">
      <button class="btn btn-dark btn-padding mt-2" data-bs-toggle="modal" data-bs-target="#cargarSocioModal" type="button">Cargar un nuevo socio</button>
    </div>
  </div>

  <div class="modal fade" id="cargarSocioModal" tabindex="-1" aria-labelledby="cargarSocioModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="cargarSocioLabel">Nuevo socio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form class="row g-3" action="{{ url_for('members.member_create', page=pagination.page, apellido=search_form.last_name.data, status=search_form.is_active_search.data) }}" method="POST">
                {{ form.csrf_token }}
              <div class="col-md-6">
                {{ form.first_name.label(class="mb-2") }}
                {{ form.first_name(class="form-control") }}
              </div>

              <div class="col-md-6">
                {{ form.last_name.label(class="mb-2") }}
                {{ form.last_name(class="form-control") }}
              </div>

              <div class="col-md-5">
                {{ form.doc_type.label(class="mb-2") }}
                {{ form.doc_type(class="form-select") }}
              </div>

               <div class="col-md-7">
                 {{ form.doc_num.label(class="mb-2") }}
                 {{ form.doc_num(class="form-control") }}
              </div>

              <div class="col-md-12">
                {{ form.genre.label(class="mb-2") }}
                {{ form.genre(class="form-select") }}
              </div>

              <div class="col-12">
                {{ form.address.label(class="mb-2") }}
                {{ form.address(class="form-control") }}
              </div>

              <div class="col-md-12">
                {{ form.is_active.label(class="mb-2") }}
                {{ form.is_active(class="form-select") }}
              </div>

<!--              <hr class="mx-auto" style="width: 95%; margin-top: 2em;">-->

              <div class="col-12 mt-4">
                {{ form.phone_num.label(class="mb-2") }}
                {{ form.phone_num(class="form-control") }}
              </div>

              <div class="col-12">
                {{ form.email.label(class="mb-2") }}
                {{ form.email(class="form-control") }}
              </div>


              <div class="col-md-5">
                <label for="inputFechaAlta" class="form-label">Fecha de alta</label>
                <input type="text" class="form-control" id="inputFechaAlta" disabled>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                {{ form.submit(class="btn btn-success")}}
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

    <div class="modal fade" id="editarMemberModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarMemberModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="editarMemberLabel">Editar usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>

          <div class="modal-body">
            <form class="row g-3" action="{{ url_for('members.member_edit', page=pagination.page, apellido=search_form.last_name.data, status=search_form.is_active_search.data ) }}" method="POST" >
              {{ edit_form.csrf_token }}
              <div class="col-md-6">
                {{ edit_form.first_name_edit.label }}
                {{ edit_form.first_name_edit(class="form-control") }}
              </div>

              <div class="col-md-6">
                  {{ edit_form.last_name_edit.label }}
                  {{ edit_form.last_name_edit(class="form-control") }}
              </div>

              <div class="col-12">
                  {{ edit_form.genre_edit.label }}
                  {{ edit_form.genre_edit(class="form-select") }}
              </div>

              <div class="col-12">
                  {{ edit_form.address_edit.label }}
                  {{ edit_form.address_edit(class="form-control") }}
              </div>

              <div class="col-12">
                  {{ edit_form.is_active_edit.label }}
                  {{ edit_form.is_active_edit(class="form-select") }}
              </div>

              <div class="col-12">
                  {{ edit_form.phone_num_edit.label }}
                  {{ edit_form.phone_num_edit(class="form-control") }}
              </div>

              <div class="col-12">
                  {{ edit_form.email_edit.label }}
                  {{ edit_form.email_edit(class="form-control") }}
              </div>

              <div class="col-12" hidden>
                  {{ edit_form.member_id_edit(class="form-control") }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                {{ edit_form.submit_edit(class="btn btn-success btn-padding") }}
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>

  <hr>

  <h2 class="h3">Busqueda</h2>
  <form id="formBusquedda" name="formularioBusqueda" role="form" method="GET">
    <div class="row mb-4">
      <div class="col-lg-3 d-flex">
        <input type="text" id="page" class="form-control rounded text-black" name="page" hidden value="1" />
        {{ search_form.last_name(class="form-control rounded text-black", placeholder="Ingrese un apellido...") }}
      </div>

      <div class="col-lg-2 text-start">
        {{ search_form.is_active_search(class="form-select") }}
      </div>

      <div class="col-lg-1">
        <button type="submit" id="btnBusqueda" class="btn btn-outline-dark">Buscar</button>
      </div>
    </div>
  </form>

  <div class="mt-5">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="h3">Listado de asociados</h1>
      </div>

      <div class="col-12">
        <a class='btn btn-sm btn-outline-secondary' id="btnCsv"
                href="{{ url_for('members.download_report_csv', apellido=search_form.last_name.data, status=search_form.is_active_search.data ) }}">
                Exportar CSV
        </a>
        <a class='btn btn-sm btn-outline-secondary ms-2' id="btnPdf"
                href="{{ url_for('members.download_report_pdf', apellido=search_form.last_name.data, status=search_form.is_active_search.data ) }}">
                Exportar PDF
        </a>
      </div>
    </div>

    <div class="table-responsive-lg">
      <table class="table table-bordered align-middle">
        <thead>
        <tr>
          <th scope="col">Nro de socio</th>
          <th scope="col">Nombre completo</th>
          <th scope="col">Documento</th>
          <th scope="col">Email</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha de alta</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for member in pagination.items %}
          <tr>
            <th scope="row"> {{ member.member_num }} </th>
            <td>{{ member.first_name}} {{ member.last_name }}</td>
            <td>{{ member.doc_num }}</td>
            {% if member.email == None %}
              <td> - </td>
            {% else %}
              <td> {{ member.email }} </td>
            {% endif %}
            {% if member.is_active == True %}
              <td>Activo</td>
            {% else %}
              <td>Bloqueado</td>
            {% endif %}
            <td>{{ member.inserted_at.strftime('%d/%m/%Y') }}</td>
            <td class="text-center">
              <button class="btn btn-primary btn-sm mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#editarMemberModal" type="button" onclick="getMemberToEdit({{member.id}})">Editar</button>
              <button type="button" class="btn btn-danger btn-sm mt-2 mt-lg-0">Eliminar</button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="pagination mt-4 d-flex justify-content-center">
    {% if pagination.has_prev %}
        <span>
            <a class='page-number text-decoration-none me-2' href="{{ url_for('members.member_index', page=pagination.prev_num, apellido=search_form.last_name.data, status=search_form.is_active_search.data ) }}"
            style="color: inherit;">
                {{ '<<' }}
            </a>
        </span>
    {% endif %}

    <div>
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group" aria-label="First group">
          {% for number in pagination.iter_pages() %}
            {% if pagination.page != number %}
              <a class="btn btn-outline-dark btn-sm"
                 href="{{ url_for('members.member_index', page=number, apellido=search_form.last_name.data, status=search_form.is_active_search.data) }}" role="button">
                {{ number }}
              </a>
            {% else %}
              <button type="button" class="btn btn-dark btn-sm">{{ number }}</button>
            {% endif %}
          {% endfor %}
        </div>
        {% if pagination.has_next %}
          <span>
            <a class='page-number text-decoration-none ms-2'  style="color: inherit"
                href="{{ url_for('members.member_index', page=pagination.next_num, apellido=search_form.last_name.data, status=search_form.is_active_search.data ) }}">
                {{ '>>' }}
            </a>
          </span>
        {% endif %}
      </div>
    </div>
</div>

<script>
  const today = new Date().toLocaleDateString("es-AR");
  document.getElementById('inputFechaAlta').value = today

   async function getMemberToEdit(memberId){
     let response = await fetch("{{request.url_root}}members/api/member/"+ memberId)
     let data = await response.json()

     document.getElementById('first_name_edit').value = data.member.first_name
     document.getElementById('last_name_edit').value = data.member.last_name
     document.getElementById('genre_edit').value = data.member.genre
     document.getElementById('address_edit').value = data.member.address
     document.getElementById('is_active_edit').value = data.member.is_active ? 1 : 0
     document.getElementById('phone_num_edit').value = data.member.phone_num
     document.getElementById('email_edit').value = data.member.email
     document.getElementById('member_id_edit').value = data.member.id
   }

</script>
{% endblock %}