{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}" >
{% endblock %}

{% block content %}
<div class="container mt-4 userContainer">
  <h1 class="display-3">Gestion de asociados</h1>
  <div class="row">
    <div class="col">
      <button class="btn btn-dark btn-padding mt-2" data-bs-toggle="modal" data-bs-target="#cargarSocioModal" type="button">Cargar un nuevo socio</button>
    </div>
  </div>

  <div class="modal fade" id="cargarSocioModal" tabindex="-1" aria-labelledby="cargarSocioModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="cargarSocioLabel">Nuevo socio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form class="row g-3">
                {{ form.csrf_token }}
              <div class="col-md-6">
                {{ form.first_name.label(class="mb-2") }}
                {{ form.first_name(class="form-control") }}
              </div>

              <div class="col-md-6">
                {{ form.last_name.label(class="mb-2") }}
                {{ form.last_name(class="form-control") }}
              </div>

              <div class="col-md-5">
                {{ form.doc_type.label(class="mb-2") }}
                {{ form.doc_type(class="form-select") }}
              </div>

               <div class="col-md-7">
                 {{ form.doc_num.label(class="mb-2") }}
                 {{ form.doc_num(class="form-control") }}
              </div>

              <div class="col-md-12">
                {{ form.genre.label(class="mb-2") }}
                {{ form.genre(class="form-select") }}
              </div>

              <div class="col-12">
                {{ form.address.label(class="mb-2") }}
                {{ form.address(class="form-control") }}
              </div>

              <div class="col-md-12">
                {{ form.is_active.label(class="mb-2") }}
                {{ form.is_active(class="form-select") }}
              </div>

<!--              <hr class="mx-auto" style="width: 95%; margin-top: 2em;">-->

              <div class="col-12 mt-4">
                {{ form.phone_num.label(class="mb-2") }}
                {{ form.phone_num(class="form-control") }}
              </div>

              <div class="col-12">
                {{ form.email.label(class="mb-2") }}
                {{ form.email(class="form-control") }}
              </div>


              <div class="col-md-5">
                <label for="inputFechaAlta" class="form-label">Fecha de alta</label>
                <input type="text" class="form-control" id="inputFechaAlta" disabled>
              </div>

            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            {{ form.submit(class="btn btn-success")}}
          </div>

        </div>
    </div>
  </div>


  <hr>

  <h2 class="h3">Busqueda</h2>
  <form id="formBusquedda" name="formularioBusqueda" role="form">
    <div class="row mb-4">
      <div class="col-lg-3 d-flex">
        <input type="text" id="apellidoBusqueda" class="form-control rounded text-black" placeholder="Ingrese un apellido . . ." />
      </div>

      <div class="col-lg-2 text-start">
        <select id="criterioBusqueda" class="form-select">
          <option value="0" selected>Todos</option>
          <option value="1">Activo</option>
          <option value="2">Bloqueado</option>
        </select>
      </div>

      <div class="col-lg-1">
        <button type="submit" id="btnBusqueda" class="btn btn-outline-dark">Buscar</button>
      </div>
    </div>
  </form>

  <div class="mt-5">
    <div class="row mb-4">
      <div class="col-12">
        <h1 class="h3">Listado de asociados</h1>
      </div>

      <div class="col-12">
        <button type="submit" id="btnCsv" class="btn btn-sm btn-outline-secondary">Exportar CSV</button>
        <button type="submit" id="btnPdf" class="btn btn-sm btn-outline-secondary ms-2">Exportar PDF</button>
      </div>
    </div>

    <div class="table-responsive-lg">
      <table class="table table-bordered align-middle">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre completo</th>
          <th scope="col">Documento</th>
          <th scope="col">Nro de socio</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha de alta</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for member in members %}
          <tr>
            <th scope="row"> {{ member.id }} </th>
            <td>{{ member.first_name}} {{ member.last_name }}</td>
            <td>{{ member.doc_num }}</td>
            <td>{{ member.member_num }}</td>
            {% if member.is_active == True %}
              <td>Activo</td>
            {% else %}
              <td>Bloqueado</td>
            {% endif %}
            <td>{{ member.inserted_at.strftime('%d/%m/%Y') }}</td>
            <td class="text-center">
              <button type="button" class="btn btn-secondary btn-sm">Editar</button>
              <button type="button" class="btn btn-danger btn-sm mt-2 mt-lg-0">Eliminar</button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>

<script>
  const today = new Date().toLocaleDateString("es-AR");
  document.getElementById('inputFechaAlta').value = today
</script>
{% endblock %}