{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}" >
{% endblock %}

{% block content %}
<div class="container mt-4 userContainer">
  <h1 class="display-3">Gestion de usuarios</h1>
  <div class="row">
    <div class="col">
      <a class="btn btn-dark btn-padding mt-2" href="{{ url_for('users.user_list_all', page=1, email='',status='2') }}" role="button">Ver listado de usuarios</a>
    </div>
  </div>
  <hr>
  <h2 class="display-6">Nuevo usuario</h2>
  <form class="formStyle" method="POST" action="{{ url_for('users.user_create') }}">
    {{ form.csrf_token }}
    <div class="form-group mb-3">
      {{ form.first_name.label }}
      {{ form.first_name(class="form-control") }}
    </div>

    <div class="form-group mb-3">
      {{ form.last_name.label }}
      {{ form.last_name(class="form-control") }}
    </div>

    <div class="form-group mb-3">
      {{ form.email.label }}
      {{ form.email(class="form-control") }}
    </div>

    <div class="form-group mb-3">
      {{ form.username.label }}
      {{ form.username(class="form-control") }}
      <small id="ayudaUsername" class="form-text text-muted">El nombre de usuario solo debe contener <strong>caracteres alfanumericos</strong></small>
    </div>

    <div class="form-group mb-3">
      {{ form.password.label }}
      {{ form.password(class="form-control") }}
      <small id="ayudaPassword" class="form-text text-muted">La contraseña debe tener por lo menos una <strong>letra en minuscula, una letra en mayuscula y un numero o caracter especial (@!?&+^)</strong></small>
    </div>

    <div class="form-group mb-3">
      {{ form.status.label }}
      {{ form.status(class="form-select selectActivo") }}
    </div>

    <hr class="mt-4">
    <div class="form-group mb-3">
      <div>
        <label class="form-label">{{form.roles.label()}}</label><br/>
          {% for rol in form.roles %}
            {{ rol(class="btn-check") }}
            {{ rol.label(class="btn btn-outline-success") }}
          {% endfor %}
      </div>
      <small class="form-text text-muted">Un usuario puede tener <strong>más de un rol al mismo tiempo</strong></small>
    </div>

    {{ form.submit(class="btn btn-dark btn-padding mb-3") }}

  </form>
</div>
{% endblock %}