{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}" >
{% endblock %}

{% block content %}
<div class="container mt-4 userContainer">
  <h1 class="display-3">Gestion de usuarios</h1>
  <div class="row">
    <div class="col">
      <a class="btn btn-dark btn-padding mt-2" href="{{ url_for('users.user_index') }}" role="button">Cargar usuario</a>
    </div>
  </div>
  <hr>

  <h2 class="h3">Busqueda</h2>
  <form id="formBusqueda" name="formularioBusqueda" action="{{ url_for('users.user_list_all', page=pagination.page) }}" method="GET">
      <div class="row mb-4">
      <div class="col-lg-3 d-flex">
          <input type="text" id="page" class="form-control rounded text-black" name="page" hidden value="1" />

<!--        <input type="text" id="emailBusqueda" class="form-control rounded text-black" placeholder="Ingrese un email . . ." name="email" />-->
        {{ search_form.email(class="form-control rounded text-black", placeholder="Ingrese un email...") }}
      </div>
      <div class="col-lg-2 text-start">
        {{ search_form.is_active_search(class="form-select") }}
      </div>
      <div class="col-lg-1">
        <button type="submit" id="btnBusqueda" class="btn btn-outline-dark">Buscar</button>
<!--        {{ search_form.submit_search(class="btn btn-outline-dark") }}-->
      </div>
    </div>
  </form>

  <div class="modal fade" id="editarUsuarioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editarUsuarioModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="editarUsuarioLabel">Editar usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cleanInputs()"/>
          </div>

          <div class="modal-body">
            <form class="row g-3" action="{{ url_for('users.user_edit', page=pagination.page, email=search_form.email.data,
             status=search_form.is_active_search.data) }}" method="POST" >
              {{ form.csrf_token }}
              <div class="col-md-6">
                {{ form.first_name.label }}
                {{ form.first_name(class="form-control") }}
              </div>

              <div class="col-md-6">
                  {{ form.last_name.label }}
                  {{ form.last_name(class="form-control") }}
              </div>

              <div class="col-12">
                  {{ form.email.label }}
                  {{ form.email(class="form-control") }}
              </div>

              <div class="col-12">
                  {{ form.username.label }}
                  {{ form.username(class="form-control") }}
              </div>

              <div class="col-12">
                  {{form.roles.label}}<br/>
                  {% for rol in form.roles %}
                    {{ rol(class="btn-check inputRoles") }}
                    {{ rol.label(class="btn btn-outline-success") }}
                  {% endfor %}
              </div>

              <div class="col-12" hidden>
                  {{ form.user_id(class="form-control") }}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cleanInputs()">Cerrar</button>
                {{ form.submit(class="btn btn-success btn-padding") }}
              </div>
            </form>
          </div>


        </div>
    </div>
  </div>

  <div class="mt-5">
    <h1 class="h3">Listado de usuarios</h1>
    <div class="table-responsive-lg">
      <table class="table table-bordered align-middle">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Nombre de usuario</th>
          <th scope="col">Estado</th>
          <th scope="col">Roles</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination.items %}
          <tr>
            <th scope="row"> {{ user.id }} </th>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.username }}</td>

            {% if user.is_active == True %}
              <td>Activo</td>
            {% else %}
              <td>Bloqueado</td>
            {% endif %}

            <td>
              {% for rol in user.roles %}
                {{ rol.name }}
                {% if loop.nextitem %}
                   -
                {% endif %}
              {% endfor %}
            </td>
            <td class="text-center">
<!--              <button type="button" class="btn btn-primary btn-sm mt-2 mt-lg-0">Editar</button>-->
              <button class="btn btn-primary btn-sm mt-2 mt-lg-0" data-bs-toggle="modal" data-bs-target="#editarUsuarioModal" type="button" onclick="getUserToEdit({{user.id}})">Editar</button>
              {% if not user_is_admin(user.email) %}
                {% if user.is_active == True %}
                  <a class="btn btn-warning btn-sm mt-2 mt-lg-0" href="{{ url_for('users.user_change_status', username=user.username, page=pagination.page,  email=search_form.email.data, status=search_form.is_active_search.data ) }}" role="button">Bloquear</a>
                {% else %}
                  <a class="btn btn-success btn-sm mt-2 mt-lg-0" href="{{ url_for('users.user_change_status', username=user.username, page=pagination.page, email=search_form.email.data, status=search_form.is_active_search.data ) }}" role="button">Activar</a>
                {% endif %}
              {% else %}
                <button type="button" class="btn btn-outline-secondary btn-sm mt-2 mt-lg-0" disabled>Bloquear</button>
              {% endif %}
              <button type="button" class="btn btn-danger btn-sm mt-2 mt-lg-0">Eliminar</button>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="pagination mt-4 d-flex justify-content-center">
    {% if pagination.has_prev %}
        <span>
            <a class='page-number text-decoration-none me-2' href="{{ url_for('users.user_list_all', page=pagination.prev_num, email=search_form.email.data, status=search_form.is_active_search.data ) }}"
            style="color: inherit;">
                {{ '<<' }}
            </a>
        </span>
    {% endif %}

    <div>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group" role="group" aria-label="First group">
        {% for number in pagination.iter_pages() %}
          {% if pagination.page != number %}
              <a class="btn btn-outline-dark btn-sm"
                 href="{{ url_for('users.user_list_all', page=number, email=search_form.email.data, status=search_form.is_active_search.data) }}" role="button">
                {{ number }}
              </a>
        {% else %}
                <button type="button" class="btn btn-dark btn-sm">{{ number }}</button>
        {% endif %}
    {% endfor %}
    </div>
    {% if pagination.has_next %}
        <span>
            <a class='page-number text-decoration-none ms-2'  style="color: inherit"
                href="{{ url_for('users.user_list_all', page=pagination.next_num, email=search_form.email.data, status=search_form.is_active_search.data ) }}">
                {{ '>>' }}
            </a>
        </span>
    {% endif %}
    </div>
  </div>
</div>

<script>
  async function getUserToEdit(userId){
    let response = await fetch("{{request.url_root}}users/api/users/"+ userId)
    // let response = await fetch(`{{ url_for('users.get_user', user_id=5) }}`)
    let data = await response.json()
    document.getElementById('first_name').value = data.user.first_name
    document.getElementById('last_name').value = data.user.last_name
    document.getElementById('email_edit').value = data.user.email
    document.getElementById('username').value = data.user.username
    document.getElementById('user_id').value = data.user.id
    data.user.roles.map((rol, index)=>{
      document.getElementById(`roles-${rol.id - 1}`).checked = true
    })
  }

  function cleanInputs(){
    items= document.getElementsByClassName("inputRoles")
    for (let item of items){
      item.checked = false
    }
  }

</script>
{% endblock %}